@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .icon {
        transition-duration: 1s;
    }

        .icon:hover {
            transform: rotateY(200deg);
        }
</style>

<div style="background-color:rgb(205, 209, 228)" class="p-2 m-3">

    <h1 style="font-size:25px; margin-top:50px; ">Do you have any suggestions? complaints? feedback? </h1>
    <p style="margin-top:20px">Please don't hesitate to contact us!</p>
    <a href="mailto:s.abed7@student.aaup.edu" class="btn btn-primary">Send Email</a>

    <div style="margin-top:40px;" class="p-4">
        <p>You can also follow our socials &#10024;:</p>
        <a href="#" class="fa-brands fa-facebook p-1 icon" style="text-decoration:none"></a>
        <a href="#" class="fa-brands fa-twitter p-1 icon" style="text-decoration:none"></a>
        <a href="#" class="fa-brands fa-instagram p-1 icon" style="text-decoration:none"></a>
    </div>



</div>