@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.title = "Add Category";
}

@model Category
<h2>ADD Category</h2>

<form asp-action="Add" asp-controller="Category" method="post">
    <div asp-validation-summary="All" class="text-danger">
    </div>

    
    <div class="form-group">
        <label asp-for="Namecategory">CategoryName</label>
        <input asp-for="Namecategory" value="@Model.Namecategory" class="form-control">
    </div>

   
   
    <button type="submit" class="btn btn-success">Add</button>
    <a asp-controller="Login" asp-action="BackToCategory">Cancel</a>

</form>